<div class="container">
  <%= form_with url: sessions_path, local: true do |f| %>
    <%= f.text_field :name, required: true, class: "form-control string required input mb-3 mt-2", placeholder: "Username", label: false %>
    <%= f.submit 'Log In', class: "btn btn-primary px-5 mt-3" %>
<% end %>
</div>